


@media (max-width: 480px) {
    .photo-image {
        width: 120px;
        height: 120px;
    }
    .name-block {
        font-size: 180%;
        padding: 8px;
    }
    .about-me-block {
        font-size: 100%;
        padding: 8px;
    }
    .anchor-link {
        margin: 8px;
    }
}
@media (max-width: 320px) {
    .photo-image {
        width: 64px;
        height: 64px;
    }
    .name-block {
        font-size: 120%;
        padding: 8px;
    }
    .about-me-block {
        font-size: 100%;
        padding: 8px;
    }
    .anchor-link {
        margin: 8px;
    }
}
